.header {
    display: flex;
    justify-content: space-between;
    height: 125px;
    width: auto;
    background-color: #F5F5F5;
    border: none;
    align-items: center;
}

.header-left {
    display: flex;
    align-items:center;
    margin: auto 80px;
}

.logo-img {
    width: 40px;
    height: auto;
}

.header-text{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    margin-left: 10px;
}

.logo-text1 {
    font-style: italic;
}
.logo-text2 {
    font-size: 12px;
}

.header-right {
    margin: auto 80px;
}

.btn-add {
    height: 44px;
    width: 160px;
    margin-left: 20px;
    color: white;
    background-color: #495276;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    font-weight: 500;

}

.btn-add:hover {
  background-color: #3c466e;
}


