.modal-main-content {
  background: #F5F5F5;
  border-radius: 16px;
  width: 90%;
  max-width: 1200px;
  max-height: 85vh;
  overflow: hidden;
  box-shadow: 0 20px 50px rgba(0,0,0,0.2);
  padding: 0px 60px;
}

.modal-main-header {
  padding: 50px 0;
}

.modal-main-header h4 {
  font-size: 36px;
  font-weight: 500;
}

.modal-main-form {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 52px;
  gap: 18px;
}

.modal-main-form .form-group {
  display: flex;
  flex-direction: column; /* label сверху */
  width: 140px;           /* для остальных полей */
}

.modal-main-form .form-group label {
  margin-left: 8px;
  font-size: 13px;
  font-weight: 500;
}

.modal-main-form .form-group input {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #525252a1;
  margin-top: 8px;
  font-size: 13px;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

.modal-main-form .form-group input:focus {
  outline: none;
  border-color: #132a50;
  box-shadow: 0 0 0 2px rgba(29, 67, 128, 0.25);
  transform: scale(1.02);
}

.modal-main-form .form-group#comment-group {
  width: auto;       /* убираем фиксированную ширину */
  flex: 1;           /* растягиваем на оставшееся место */
}

.modal-main-form .form-group#comment-group input {
  width: 100%;       /* input занимает весь родительский блок */
}

.modal-main-form .form-group#date-group input {
    padding: 10px;
}

.form-group select {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #525252a1;
  margin-top: 8px;
  font-size: 13px;
  box-sizing: border-box;
  transition: all 0.2s ease;
  background-color: white;
  padding: 0 8px;
  cursor: pointer;
}

.form-group select:focus {
  outline: none;
  border-color: #132a50;
  box-shadow: 0 0 0 2px rgba(29, 67, 128, 0.25);
  transform: scale(1.02);

}

.modal-main-footer {
    text-align: right;
    margin-bottom: 35px;

    .btn-confirm{
        width: 130px;
        height: 36px;
        background-color: #FCB040;
        color: black;
        border-radius: 5px;
        cursor: pointer;
        border: none;
        font-size: 13px;
        font-weight: 500;
        margin-left: 40px;
    }
    .btn-confirm:hover {
        background-color: #faa11c;
    }

    .btn-cancel {
        font-size: 13px;
        font-weight: 500;
        text-decoration: underline;
        cursor: pointer;
        background-color: none;
        border: none;
    }
    .btn-cancel:hover {
        font-size: 13px;
        font-weight: 600;
        transition: all 0.2s ease;
    }
}

.required {
  color: red;
}



